<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.example.pojo.Order">
        <id property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="mealId" column="meal_id" jdbcType="BIGINT"/>
        <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="orderKey" column="key" jdbcType="VARCHAR"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="orderName" column="order_name" jdbcType="VARCHAR"/>
        <result property="orderPhone" column="order_phone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMealPage" resultType="com.example.pojo.Meal">
        select * from meal where meal_time = '${localDate}'
        order by meal_time desc limit ${page}, ${pageSize}
    </select>

    <select id="getMealPageCount" resultType="java.lang.Integer">
        select count(meal_id) from meal where meal_time = '${localDate}'
    </select>



    <select id="getKeyandmealList" resultType="Map">
        select distinct(order_key) as keyList, group_concat(meal_id) as mealIdList, group_concat(num) as numList, order_time, remark
        from orderlist where meal_id in (select meal_id from meal where meal_time = '${localDate}')
        GROUP BY order_key, order_time, remark order by order_time desc
        limit #{page}, #{pageSize}
    </select>

    <select id="getOrderMenuNum" resultType="com.example.dto.MealDto">
        select m.*, sum(o.num) as num from dining.orderlist o, dining.meal m
        where o.meal_id=m.meal_id and
              m.meal_id in (select meal_id from dining.meal where meal_time = '${localDate}')
        group by o.meal_id order by o.meal_id
        limit #{page}, #{pageSize}
    </select>

    <!--    <select id="getKeyandmealList" resultType="map">-->
<!--        SELECT *-->
<!--        FROM `order`-->
<!--        WHERE `key` IN (-->
<!--            SELECT `key`-->
<!--            FROM `order`-->
<!--            GROUP BY `key`-->
<!--            HAVING COUNT(*) > 1) limit ${page},${pageSize}-->
<!--    </select>-->

<!--    <select id="getOrderPage" resultType="com.example.pojo.Meal">-->
<!--        select * from order-->
<!--        order by meal_time desc limit ${page},${pageSize}-->
<!--    </select>-->

<!--    <select id="getOrderPageCount" resultType="java.lang.Integer">-->
<!--        select count(meal_id) from meal-->
<!--    </select>-->

</mapper>